<a href="https://colab.research.google.com/github/maaz-ansari/NLP/blob/master/Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import gzip
import nltk
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
import nltk
nltk.download('vader_lexicon') 
from sklearn.metrics import confusion_matrix, accuracy_score

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [45]:
data = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv'
d = pd.read_csv(data, error_bad_lines=False)
d.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [46]:
d_2= pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)
d_2.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
d_2 = d_2.iloc[0:100,:]

In [48]:
d = d[d['Sentiment'] != "irrelevant"]
d['Sentiment'].value_counts()

neutral     2333
negative     572
positive     519
Name: Sentiment, dtype: int64

In [0]:
def pol(stri):
  sent = TextBlob(stri).sentiment
  polt = sent.polarity
  if polt > 0.0:
    return "positive"
  elif polt == 0.0:
    return "neutral"
  else:
    return "negative"

In [0]:
def nltk(stri):
  sia = SentimentIntensityAnalyzer()
  sn = sia.polarity_scores(stri)
  if sn['compound'] >= 0.05:
    return "positive"
  elif -0.05 < sn['compound'] < 0.05:
    return "neutral"
  else:
    return "negative"

In [0]:
d['TweetText_textblob'] = d['TweetText'].apply(blob)

In [53]:
d_2['reviewText_intensity_analyzer'] = d_2['reviewText'].apply(nltk)
d_2.head()

       reviewerID        asin  ...   reviewTime reviewText_intensity_analyzer
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004                      positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007                      positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011                      negative
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006                      positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013                      positive

[5 rows x 10 columns]

In [54]:
d['TweetText_intensity_analyzer'] = d['TweetText'].apply(nltk)
d.head()

   Topic Sentiment  ...  TweetText_textblob TweetText_intensity_analyzer
0  apple  positive  ...             neutral                      neutral
1  apple  positive  ...            positive                     positive
2  apple  positive  ...            positive                     positive
3  apple  positive  ...            positive                     positive
4  apple  positive  ...            positive                     positive

[5 rows x 7 columns]

In [55]:
d = d[d['Sentiment'] != "irrelevant"]
d['Sentiment'].value_counts()

neutral     2333
negative     572
positive     519
Name: Sentiment, dtype: int64

In [56]:
print(confusion_matrix(d['Sentiment'],d['TweetText_intensity_analyzer']))
print(accuracy_score(d['Sentiment'],d['TweetText_intensity_analyzer']))

[[ 291  138  143]
 [ 302 1234  797]
 [  47   99  373]]
0.554322429906542

In [58]:
print(confusion_matrix(d['Sentiment'],d['TweetText_textblob']))
print(accuracy_score(d['Sentiment'],d['TweetText_textblob']))

[[ 234  171  167]
 [ 201 1213  919]
 [  38  124  357]]
0.5268691588785047